In [7]:
from path import Path
import pandas as pd

from config import db_password

from sqlalchemy import create_engine
import psycopg2

In [8]:
# assign a variable that contains a string of your credentials
credentials = f"postgresql://postgres:{db_password}@127.0.0.1:5432/summary_data"

# read in your SQL query results using pandas
df = pd.read_sql("""
            SELECT grammy_song, artist, featured_artist, year_win, grammy, peak, week_avg, weeks_on_chart
            FROM grammy_billboard
            """, con = credentials)

# return your first five rows
df.head()

,grammy_song,artist,featured_artist,year_win,grammy,peak,week_avg,weeks_on_chart
0,this is America,Childish Gambino,0,2018.0,3,1.0,33.882353,17.0
1,Joanne (where Do you Think You're Goin'?),None,None,2018.0,1,NaN,NaN,NaN
2,Shallow,"Lady Gaga, Bradley Cooper",0,2018.0,2,1.0,24.153846,39.0
3,Electricity,"Silk City, Dua Lipa",0,2018.0,1,62.0,86.800000,10.0
4,when Bad Does Good,None,None,2018.0,1,NaN,NaN,NaN

In [9]:
y = df["grammy"]
X = df.drop(columns=["grammy", "grammy_song", "artist", "featured_artist"]).fillna(0)

In [10]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X, 
                                                    y, 
                                                    random_state=1, 
                                                    stratify=y)
X_train.shape

(271, 4)

In [11]:
from sklearn.linear_model import LogisticRegression
classifier = LogisticRegression(solver='lbfgs',
                                max_iter=200,
                                random_state=1)

In [12]:
classifier.fit(X_train, y_train)

LogisticRegression(max_iter=200, random_state=1)

In [13]:
y_pred = classifier.predict(X_test)
results = pd.DataFrame({"Prediction": y_pred, "Actual": y_test}).reset_index(drop=True)
results.head(20)

    Prediction  Actual
0            1       1
1            1       1
2            1       1
3            1       1
4            1       1
5            1       1
6            1       1
7            1       1
8            1       1
9            1       1
10           1       1
11           1       1
12           1       1
13           1       1
14           1       1
15           1       1
16           1       1
17           1       1
18           1       1
19           1       1

In [14]:
from sklearn.metrics import accuracy_score
print(accuracy_score(y_test, y_pred))

0.8461538461538461