In [1]:
import pandas as pd


from sqlalchemy import create_engine
import psycopg2

from config import db_password

import time
from sqlalchemy.dialects.postgresql import insert
from sqlalchemy import table, column

In [16]:
Data= "dummy_csv.csv"

In [18]:
df=pd.read_csv(Data)

In [19]:
df.head()

,Grammy Song,Artist,Featured Artist,Year Win,Grammy,Peak,Week Avg,Weeks on Chart
0,this is America,Childish Gambino,0,2018,3,1.0,33.882353,17.0
1,Joanne (where Do you Think You're Goin'?),NaN,NaN,2018,1,NaN,NaN,NaN
2,Shallow,"Lady Gaga, Bradley Cooper",0,2018,2,1.0,24.153846,39.0
3,Electricity,"Silk City, Dua Lipa",0,2018,1,62.0,86.800000,10.0
4,when Bad Does Good,NaN,NaN,2018,1,NaN,NaN,NaN

In [7]:
db_string = f"postgres://postgres:{db_password}@127.0.0.1:5432/summary_data"
engine = create_engine(db_string)
df.to_sql(name='grammy_billboard', con=engine, if_exists='replace')

In [9]:
# assign a variable that contains a string of your credentials
credentials = f"postgresql://postgres:{db_password}@127.0.0.1:5432/summary_data"

# read in your SQL query results using pandas
df = pd.read_sql("""
            SELECT grammy_song, artist, featured_artist, year_win, grammy, peak, week_avg, weeks_on_chart
            FROM grammy_billboard
            """, con = credentials)

# return your first five rows
df.head()

,grammy_song,artist,featured_artist,year_win,grammy,peak,week_avg,weeks_on_chart
0,this is America,Childish Gambino,0,2018.0,3,1.0,33.882353,17.0
1,Joanne (where Do you Think You're Goin'?),None,None,2018.0,1,NaN,NaN,NaN
2,Shallow,"Lady Gaga, Bradley Cooper",0,2018.0,2,1.0,24.153846,39.0
3,Electricity,"Silk City, Dua Lipa",0,2018.0,1,62.0,86.800000,10.0
4,when Bad Does Good,None,None,2018.0,1,NaN,NaN,NaN